html {
	scroll-behavior: smooth;
}


body {
	background-image: linear-gradient(to bottom right, rgb(61, 70, 93),rgb(30,38,52))
	/*background-color: rgb(30,38,52);*/
	
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	border-radius: 15px;
}

li {	
	float: left;
	
}

li a {
	display: block;
	padding: 14px 16px;
	color: white;
	text-align: center;
	text-decoration: none;
		
	}

li a:hover {
	background-color: #111;
}	

.column {
	float: left;
	width: 33.33%
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

@media screen and (min-width: 700px) and (max-width: 1052px) {
	.column {
		width: 50%
	}
}
@media screen and (min-width: 0px) and (max-width: 699px) {
	.column {
		width: 100%
	}
}
h1 {
	font-family: 'Racing Sans One', cursive;
	text-align:center;
	position: relative;
	font-size: 15vw;
	color: white;
	text-shadow: 3px 3px #424242;
	
}

h2 {
	font-family: 'Lato', sans-serif;
	color: white;
	text-align: center;
	position: relative;
	font-size: 1wv;
}
p {
	text-align:left;
	width: 300px;
	margin: auto;
	margin-top: 100px;
	background-color: white;
	font-family: 'Lato', sans-serif;
	border-radius: 15px;
	padding: 15px;
}

footer {
	margin-top: 300px;
	text-align: center;
	color: white;
}

.hero {
	
	position:relative;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: -1;
	
}

.hero::before{
	content: "";
	background-image: url("../media/background.jpg");
	background-size:cover;
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 0.5;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover {
	color:#f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

#main {
	transition: margin-left .5s;
	padding: 20px;
}

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}

.openButton {
	
	background-color: #f1f1f1;
	display: block;
	z-index: 3;
	padding: 50px;
	border-radius: 50%;
	

}

.bigButton {
	width: 100px;
	height: 50px;
}

.sticky {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
}