html {
	scroll-behavior: smooth;
}


/*@font-face {
	font-family: "Questrial";
	src: url("/fonts/Questrial-Regular.ttf") format("ttf");
	
}
*/
body {
	background-color: rgb(30,38,52);
	
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	border-radius: 15px;
}

li {	
	float: left;
	
}

li a {
	display: block;
	padding: 14px 16px;
	color: white;
	text-align: center;
	text-decoration: none;
		
	}

li a:hover {
	background-color: #111;
}	

.column {
	float: left;
	width: 33.33%
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

@media screen and (min-width: 650px) and (max-width: 950px) {
	.column {
		width: 50%
	}
}
@media screen and (min-width: 0px) and (max-width: 649px) {
	.column {
		width: 100%
	}
}
h1 {
	font-family: 'Racing Sans One', cursive;
	text-align:center;
	position: relative;
	font-size: 15vw;
	color: white;
	text-shadow: 3px 3px #424242;
	
}

h2 {
	font-family: 'Lato', sans-serif;
	color: white;
	text-align: center;
	position: relative;
	font-size: 1wv;
}
p {
	text-align:left;
	width: 300px;
	margin: auto;
	margin-top: 100px;
	background-color: white;
	font-family: 'Lato', sans-serif;
	border-radius: 15px;
	padding: 15px;
}

footer {
	margin-top: 300px;
	text-align: center;
	color: white;
}

.hero {
	
	position:relative;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.hero::before{
	content: "";
	background-image: url("background.jpg");
	background-size:cover;
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 0.5;
}